[Unit]
Description=MQTT server

[Service]
ExecStart=/usr/bin/mosquito -c /home/pi/git/pflanzenkisterl-panel/mosquito_conf/mosquito.conf
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target